body {
    background-image: url(../images/theater-curtains.jpg);
    background-size: 100%;
}
/* ==========================================
   TUTORIAL 12 CUSTOM CSS UPDATES
   ========================================== */

/* Imports for Google Fonts */
@import url('https://googleapis.com');
@import url('https://googleapis.com');

/* Global variables that can be reused throughout the file */
:root {
    --main-color: rgb(126, 133, 130);
    --main-color-accent: rgb(237, 192, 3);
    --main-color-transparent: rgba(126, 133, 130, 0.8);
    --secondary-color: rgba(128, 0, 0, 0.9);
    --accent-color: rgb(36, 36, 36);
    --accent-text-color: rgb(255, 255, 255);
    --main-font-family: 'Passion One', cursive;
    --secondary-font-family: 'Yesteryear', cursive;
}

html {
    scroll-padding-top: 100px;
}

/* NAVBAR ADJUSTMENTS */
.navbar {
    background-color: var(--secondary-color);
    border-bottom: 5px solid rgb(98, 0, 0);
    height: 100px;
}

/* FOOTER ARCHITECTURE STYLING */
footer {
    border-top: 5px solid var(--main-color);
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px -15px 0px -15px; /* Extends footer to edges leaving no white space */
}

.footer-text {
    font-family: var(--secondary-font-family);
    color: var(--accent-text-color);
    font-size: 30px;
}

/* Specifically styles the footer image separate from others */
.footer-img {
    width: auto;
    height: 130px;
}
